<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-brand mb-0 h1 logo">
            <i class="bi bi-pin-map-fill text-white"></i>
            <span class="text text-justify align-bottom p-1 text-white"
                >Itinerease.</span
            >
        </div>

        <ul class="menu navbar-nav ml-auto">
            <li class="my_account nav-item d-flex align-items-center">
                <i
                    class="icon bi bi-person-fill text-white"
                    type="button"
                    routerLink="/account-page"></i>
            </li>
        </ul>
    </div>
</nav>
