<main class="main">
    <div class="content">
        <!-- Modal 1-->
        <div
            class="modal fade"
            id="ModalToggle"
            aria-hidden="true"
            aria-labelledby="ModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalToggleLabel">
                            New itinerary
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <label class="form-label">Itinerary name</label>
                        <input
                            type="text"
                            class="form-control itinerary"
                            id="inputItineraryName"
                            aria-describedby="Itinerary name" />

                        <!--aici trebuie implementat datapicker cu range-->
                        <!---------------asta e primul datapicker------------------>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label"
                                >Start date:</label
                            >

                            <div class="col-sm-6">
                                <form class="row row-cols-sm-auto">
                                    <div class="input-group">
                                        <input
                                            class="form-control"
                                            placeholder="yyyy-mm-dd"
                                            name="dateStart"
                                            [(ngModel)]="dataStartModel"
                                            ngbDatepicker
                                            #dateStart="ngbDatepicker" />
                                        <button
                                            class="btn btn-outline-secondary bi bi-calendar3"
                                            (click)="dateStart.toggle()"
                                            type="button"></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!---------------asta e al doilea datapicker------------------>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label"
                                >End date:</label
                            >

                            <div class="col-sm-6">
                                <form class="row row-cols-sm-auto">
                                    <div class="input-group">
                                        <input
                                            class="form-control"
                                            placeholder="yyyy-mm-dd"
                                            name="dateEnd"
                                            [(ngModel)]="dateEndModel"
                                            ngbDatepicker
                                            #dateEnd="ngbDatepicker" />
                                        <button
                                            class="btn btn-outline-secondary bi bi-calendar3"
                                            (click)="dateEnd.toggle()"
                                            type="button"></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Buget</label>

                            <div class="col-sm-6">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="inputBuget" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                >Number of persons</label
                            >

                            <div class="col-sm-4">
                                <select
                                    class="form-select form-select-sm-1"
                                    aria-label="Default select ">
                                    <option selected>Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                            Close
                        </button>
                        <button
                            class="btn btn-primary"
                            data-bs-target="#ModalToggle2"
                            data-bs-toggle="modal">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2-->
        <div
            class="modal fade"
            id="ModalToggle2"
            aria-hidden="true"
            aria-labelledby="ModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalToggleLabel2">
                            New itinerary
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label fs-5">Where to?</label>

                                <!-- primele doua   -->
                                <select
                                    class="form-select form-select-sm mb-3"
                                    aria-label="Large select"
                                    [(ngModel)]="selectedCountry"
                                    (change)="onCountryChange()"
                                    name="selectedCountry">
                                    <option value="" selected>
                                        Please select a country
                                    </option>
                                    <option value="Romania">Romania</option>
                                    <option value="Germany">Germany</option>
                                    <option value="USA">USA</option>
                                    <option value="France">France</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Japan">Japan</option>
                                    <!-- Alte opțiuni pentru țări -->
                                </select>
                                <select
                                    class="form-select form-select-sm mb-3"
                                    aria-label="Large select"
                                    [(ngModel)]="selectedCity"
                                    name="selectedCity">
                                    <option value="" selected>
                                        Select the city
                                    </option>
                                    <option
                                        *ngFor="let city of onCountryChange()"
                                        [value]="city">
                                        {{ city }}
                                    </option>
                                </select>

                                <!--ultimele doua-->
                                <label class="form-label fs-5">Where to?</label>
                                <select
                                    class="form-select form-select-sm mb-3"
                                    aria-label="Large select"
                                    [(ngModel)]="selectedCountry2"
                                    (change)="onCountryChange2()"
                                    name="selectedCountry2">
                                    <option value="" selected>
                                        Where are you departing from?
                                    </option>
                                    <option value="Romania">Romania</option>
                                    <option value="Germany">Germany</option>
                                    <option value="USA">USA</option>
                                    <option value="France">France</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Japan">Japan</option>
                                    <!-- Alte opțiuni pentru țări -->
                                </select>
                                <select
                                    class="form-select form-select-sm mb-3"
                                    aria-label="Large select"
                                    [(ngModel)]="selectedCity2"
                                    name="selectedCity2">
                                    <option value="" selected>
                                        Select the city
                                    </option>
                                    <option
                                        *ngFor="let city2 of onCountryChange2()"
                                        [value]="city2">
                                        {{ city2 }}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button
                            class="btn btn-primary"
                            data-bs-target="#ModalToggle"
                            data-bs-toggle="modal">
                            Back
                        </button>
                        <button
                            class="btn btn-primary"
                            data-bs-target="#ModalToggle3"
                            data-bs-toggle="modal">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3-->
        <div
            class="modal fade"
            id="ModalToggle3"
            aria-hidden="true"
            aria-labelledby="ModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalToggleLabel3">
                            New itinerary
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <label class="form-label"
                            >Accommodation details name</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="inputAccomodationDetailsName"
                            aria-describedby="Accommodation details name" />
                        <label class="form-label">Adress</label>
                        <textarea
                            class="form-control"
                            id="inputAdress"
                            rows="3"></textarea>
                        <label class="form-label"
                            >Price for the whole trip</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="inputPrice"
                            aria-describedby="Price for the whole tripS" />
                    </div>

                    <div class="modal-footer">
                        <button
                            class="btn btn-primary"
                            data-bs-target="#ModalToggle2"
                            data-bs-toggle="modal">
                            Back
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
