.background{
    object-fit: cover;
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0;
    background-image: url('https://i.postimg.cc/d3V2MgMb/Captur-de-ecran-din-2023-11-13-la-19-12-44.png');
    }

.welcome-text{
    font-size: 2.813rem; 
    font-weight: bold; 
    margin-top: 11.25rem;
    margin-left: 12.5rem;
    color: #FFFFFD;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    font-family: Indie Flower;
    font-style: normal;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators{
    filter: invert(1);
}

.itinerary_1{
    background-color:#b7c9d4;
    cursor: pointer;
}

.itinerary_2{
    background-color: #b7c9d4;
}
.no-padding {
    padding: 0;
}

