<div class="container-fluid">
    <!-- background image -->
    <div class="vh-100 background">
        <div class="row justify-content-around first-row">
            <div class="col-5">
                <h5
                    class="font-weight-bold mb-3 text-center text-blue welcome-text">
                    Welcome back, your_name!
                </h5>
            </div>
            <!-- carousel -->
            <div class="col-3">
                <div
                    id="carouselExampleIndicators"
                    class="carousel slide shadow p-3 mb-5 bg-white rounded carousel-div">
                    <div class="carousel-indicators">
                        <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"></button>
                        <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                src="https://i.postimg.cc/Fz2SGzCV/Captur-de-ecran-din-2023-11-15-la-17-20-15.png"
                                class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="https://i.postimg.cc/1XNngPRn/Captur-de-ecran-din-2023-11-15-la-17-21-41.png"
                                class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="https://i.postimg.cc/Dfs1ydSC/Captur-de-ecran-din-2023-11-15-la-17-22-31.png"
                                class="d-block w-100" />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- itineraries -->
        <!-- itinerary 1 -->
        <div class="row justify-content-around my-2">
            <div
                class="col-7 shadow p-3 bg-grey rounded itinerary_1"
                onclick="location.href='#'">
                <h5 class="font-weight-bold mb-3 text-left title1">
                    <a href="#" class="text-md-lg"><u>Trip to Egypt</u></a>
                </h5>
                <div class="row">
                    <div class="d-flex">
                        <div class="col-md-6">
                            <div class="row itinerary_1_text">
                                <p class="text-md-lg text-break">
                                    Your first stop will be at
                                    <var>The Museum of Egyptian Antiquities</var
                                    >, which will take 2-3 hours to visit, from
                                    where we suggest you to go to...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <img
                                src="https://i.postimg.cc/gJmpfFKm/Captur-de-ecran-din-2023-11-15-la-15-21-22.png"
                                class="img-fluid img-thumbnail d-block no-padding ms-auto" />
                        </div>
                        <div class="col-md-2 d-flex flex-column">
                            <img
                                src="https://i.postimg.cc/NFPw9yvj/Captur-de-ecran-din-2023-11-15-la-15-22-05.png"
                                class="img-fluid img-thumbnail d-block no-padding ml-auto" />
                            <img
                                src="https://i.postimg.cc/sx2rgY8L/Captur-de-ecran-din-2023-11-15-la-15-21-57.png"
                                class="img-fluid img-thumbnail d-block no-padding ml-auto" />
                        </div>
                    </div>
                </div>
                <div class="row mt-auto text-md-lg text-center">
                    <div class="col-md-2">
                        <i class="bi bi-calendar"></i> 7 days
                    </div>
                    <div class="col-md-2">
                        <i class="bi bi-currency-dollar"></i> 741,80
                    </div>
                    <div class="col-md-2">
                        <i class="bi bi-people-fill"></i> 7 prs
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <!-- add itinerary -->
        <div class="row justify-content-around my-4 pb-4 h-25">
            <div
                class="col-7 shadow p-3 bg-grey rounded itinerary_2 d-flex align-items-center justify-content-center">
                <button
                    type="button"
                    class="btn btn-primary text-center"
                    data-bs-toggle="modal"
                    data-bs-target="#ModalToggle">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <app-modals></app-modals>
</div>
