<div class="container-fluid">
    <!-- background image -->
    <div class="vh-100 background">
        <div class="row justify-content-around first-row">
            <div class="col-5">
                <h5 class="mb-3 my-2 welcome-text">Welcome back, your_name!</h5>
            </div>
            <!-- carousel -->
            <div class="col-3">
                <div
                    id="carouselExampleIndicators"
                    class="carousel slide shadow p-3 bg-white rounded carousel-div">
                    <div class="carousel-indicators">
                        <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"></button>
                        <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                src="https://i.postimg.cc/TY690S47/Captur-de-ecran-din-2023-11-27-la-03-11-21.png"
                                class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="https://i.postimg.cc/k4WStMqn/Captur-de-ecran-din-2023-11-27-la-03-14-14.png"
                                class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="https://i.postimg.cc/7YnNW9vx/Captur-de-ecran-din-2023-11-27-la-03-12-09.png"
                                class="d-block w-100" />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- search box -->
        <div class="col-md-5 d-flex search-box">
            <form class="form-inline">
                <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search" />
            </form>
        </div>
        <!-- itineraries carousel-->
        <div class="container">
            <div class="row justify-content-center">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper">
                                <!-- itinerary 1 -->
                                <div
                                    class="card shadow rounded itinerary_default"
                                    onclick="location.href='/homepage'">
                                    <img
                                        src="https://i.postimg.cc/gJmpfFKm/Captur-de-ecran-din-2023-11-15-la-15-21-22.png"
                                        class="card-img-top img-fluid"
                                        alt="Trip Image" />

                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Trip to Egypt
                                        </h5>
                                        <h6
                                            class="card-subtitle mb-2 text-muted">
                                            <i class="bi bi-people-fill"></i> 7
                                            prs
                                            <i class="bi bi-currency-dollar"></i
                                            >741,80
                                            <i class="bi bi-calendar"></i> 7
                                            days
                                        </h6>
                                        <p class="card-text">
                                            Your first stop will be at
                                            <var
                                                >The Museum of Egyptian
                                                Antiquities</var
                                            >, which will take 2-3 hours to
                                            visit,from where we suggest you to
                                            go to...
                                        </p>
                                    </div>
                                </div>
                                <!-- itinerary 2 -->
                                <div
                                    class="card shadow rounded itinerary_default"
                                    onclick="location.href='/homepage'">
                                    <img
                                        src="https://i.postimg.cc/mDFDj3pR/Captur-de-ecran-din-2023-11-26-la-23-11-36.png"
                                        alt="Trip Image 2" />

                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Trip to Paris
                                        </h5>
                                        <h6
                                            class="card-subtitle mb-2 text-muted">
                                            <i class="bi bi-people-fill"></i> 5
                                            prs
                                            <i class="bi bi-currency-dollar"></i
                                            >342,50
                                            <i class="bi bi-calendar"></i> 7
                                            days
                                        </h6>
                                        <p class="card-text">
                                            Your first stop will be at the
                                            hotel.There you will be welcome by
                                            us with some refreshers, from where
                                            we suggest you to go to...
                                        </p>
                                    </div>
                                </div>
                                <!-- itinerary add -->
                                <div
                                    class="card shadow rounded itinerary_default align-items-center justify-content-center"
                                    data-bs-toggle="modal"
                                    data-bs-target="#ModalToggle">
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ModalToggle">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="cards-wrapper">
                                <!-- itinerary 3 -->
                                <div
                                    class="card shadow rounded itinerary_default"
                                    onclick="location.href='/homepage'">
                                    <img
                                        src="https://i.postimg.cc/gJmpfFKm/Captur-de-ecran-din-2023-11-15-la-15-21-22.png"
                                        alt="Trip Image" />

                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Trip to Country_1
                                        </h5>
                                        <h6
                                            class="card-subtitle mb-2 text-muted">
                                            <i class="bi bi-people-fill"></i> 0
                                            prs
                                            <i class="bi bi-currency-dollar"></i
                                            >0 <i class="bi bi-calendar"></i> 0
                                            days
                                        </h6>
                                        <p class="card-text">
                                            Will be filled soon...
                                        </p>
                                    </div>
                                </div>
                                <!-- itinerary 4 -->
                                <div
                                    class="card shadow rounded itinerary_default"
                                    onclick="location.href='/homepage'">
                                    <img
                                        src="https://i.postimg.cc/gJmpfFKm/Captur-de-ecran-din-2023-11-15-la-15-21-22.png"
                                        alt="Trip Image" />

                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Trip to Country_2
                                        </h5>
                                        <h6
                                            class="card-subtitle mb-2 text-muted">
                                            <i class="bi bi-people-fill"></i> 0
                                            prs
                                            <i class="bi bi-currency-dollar"></i
                                            >0 <i class="bi bi-calendar"></i> 0
                                            days
                                        </h6>
                                        <p class="card-text">
                                            Will be filled soon...
                                        </p>
                                    </div>
                                </div>
                                <!-- itinerary 5 -->
                                <div
                                    class="card shadow rounded itinerary_default"
                                    onclick="location.href='/homepage'">
                                    <img
                                        src="https://i.postimg.cc/gJmpfFKm/Captur-de-ecran-din-2023-11-15-la-15-21-22.png"
                                        alt="Trip Image" />
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Trip to Country-3
                                        </h5>
                                        <h6
                                            class="card-subtitle mb-2 text-muted">
                                            <i class="bi bi-people-fill"></i> 0
                                            prs
                                            <i class="bi bi-currency-dollar"></i
                                            >0 <i class="bi bi-calendar"></i> 0
                                            days
                                        </h6>
                                        <p class="card-text">
                                            Will be filled soon...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <app-modals></app-modals>
        </div>
        <footer class="footer">
            <img
                src="https://i.postimg.cc/YS1rRj0V/Captur-de-ecran-din-2023-11-26-la-19-49-27.png"
                alt="Footer Image"
                class="img-fluid" />
        </footer>
    </div>
</div>
