.vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    height: 100%; /* Ajustează înălțimea liniei pentru a acoperi întreaga înălțime a coloanei */
    border-left: 3px solid rgba(174, 163, 163, 0.81); /* Grosimea și culoarea liniei */
}

h2 {
    font-family: Be Vietnam Pro;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.688rem;
    font-weight: 400;

    margin-top: 1%;
    margin-left: 20%;
}

.Home-page {
    color: #fff;
}
.Delete-page {
    color: red;
}

.btn-home-back {
    display: flex;
    align-items: center;
    border-radius: 0.4375rem;
    border-color: transparent transparent;
    background: rgba(113, 148, 170, 0.85);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 17.4375rem;
    height: 3.6875rem;
}

svg {
    stroke-width: 1px;
    stroke: #fff;
    width: 2.56556rem;
    height: 1rem;
}

.vertical-line {
    background: rgba(174, 163, 163, 0.81);
}

.custom-background {
    background-image: url('https://i.postimg.cc/gjWMXYXp/img-account-backround.jpg');
    max-height: 28.125rem;
    background-size: cover;
    background-position: top center;
    color: white;

    .container-fluid {
        max-width: 200rem;
        align-items: center;
        padding-top: 12.5rem;
        .btn {
            background: #4c77a6;
            color: white;
        }
        .nav-link {
            text-decoration: underline;
        }
    }
    .form-control:focus {
        border-color: #4c77a6;
        outline: none;
    }
}

// Stilurile pentru a poziționa iconița în interiorul inputului
.toggle-password {
    position: relative;

    span.input-group-text {
        position: absolute;
        right: 10px;
        cursor: pointer;
        user-select: none;
        pointer-events: auto;
        s i {
            pointer-events: none;
        }
    }
}
