<!-- trebuie suprapus chenarul pentru poza-->

<img
    src="https://i.postimg.cc/gjWMXYXp/img-account-backround.jpg"
    class="rounded mx-auto d-block" />
<div class="position-relative">
    <div class="row justify-content-around my-2">
        <div
            class="col-7 shadow p-3 rounded itinerary_1"
            onclick="location.href='#'">
            <!-- Conținutul original -->
            <div class="row justify-content-around my-2">
                <div class="col-5 rounded position-relative">
                    <!-- Conținut pentru prima coloană -->
                    <div class="text-center">
                        <img
                            src="https://i.postimg.cc/nzg65H88/Whats-App-Image-2023-11-20-at-22-52-50.jpg"
                            class="rounded-circle img-fluid w-50 mx-auto d-block" />
                        <h1 class="mt-3 mb-5">First Last</h1>

                        <div class="d-flex flex-column align-items-center">
                            <!-- Container pentru alinierea butoanelor -->

                            <!-- Primul buton -->
                            <button
                                type="button"
                                class="btn-home-back d-flex align-items-center mb-5">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="43"
                                    height="16"
                                    viewBox="0 0 43 16"
                                    fill="none"
                                    style="transform: translateX(30px)">
                                    <path
                                        d="M0.292908 7.29289C-0.0976143 7.68342 -0.0976143 8.31658 0.292908 8.70711L6.65687 15.0711C7.04739 15.4616 7.68056 15.4616 8.07108 15.0711C8.46161 14.6805 8.46161 14.0474 8.07108 13.6569L2.41423 8L8.07108 2.34315C8.46161 1.95262 8.46161 1.31946 8.07108 0.928932C7.68056 0.538408 7.04739 0.538408 6.65687 0.928932L0.292908 7.29289ZM42.0488 7L1.00002 7V9L42.0488 9V7Z"
                                        fill="white" />
                                </svg>
                                <h2 class="Home-page">Home-page</h2>
                            </button>

                            <!-- Al doilea buton -->
                            <button
                                type="button"
                                class="btn-home-back d-flex align-items-center"
                                style="
                                    background-color: #d9d9d9;
                                    box-shadow: 4px 4px 4px 0px
                                        rgba(0, 0, 0, 0.25);
                                ">
                                <h2 class="Delete-page">Delete account</h2>
                            </button>
                        </div>
                    </div>

                    <!-- Linia verticală simulată -->
                    <div class="vertical-line"></div>
                </div>

                <div class="col-5">
                    <!-- Conținut pentru a doua coloană -->
                </div>
            </div>
        </div>
    </div>
</div>
