/* You can add global styles to this file, and also import other style files */
.text-font {
    font-family: 'Be Vietnam Pro';
}

.toast-custom-position {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}
