.attraction-item {
    padding-top: 0.182rem;
    padding-bottom: 0.182rem;
}

.btn-blue {
    background-color: #4c77a6;
    color: white;
}

.btn-red {
    background-color: #a64c4c;
    color: white;
}

.blue {
    color: #4c77a6;
}

.attraction-list {
    min-height: 11.202rem;
    max-height: 11.202rem;
    overflow-y: auto;
}