<section class="custom-background">
    <div class="container-fluid">
        <div class="col-12 col-sm-7 col-md-6 m-auto">
            <div class="card border-2 shadow">
                <div class="card-body">
                    <img
                        src="https://i.postimg.cc/7YxHsq1j/logo.jpg"
                        class="rounded mx-auto d-block"
                        width="200"
                        height="200" />
                    <form action="">
                        <input
                            type="text"
                            id="email"
                            class="form-control my-4 py-2 w-75 mx-auto"
                            placeholder="Email" />
                        <input
                            type="text"
                            id="password"
                            class="form-control my-4 py-2 w-75 mx-auto"
                            placeholder="Password" />
                        <div class="text-center mt-3">
                            <button
                                class="btn btn-outline-light"
                                data-bs-toggle="button">
                                Login
                            </button>
                            <a href="#" class="nav-link">New to the app ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
